@model List<Category>
<partial name="_Notioutfores" />

    <div class="container">
        <div class="row pt-4 pb-3">
        <div class="col-md-6">
            <h2 class="text-uppercase">Category List</h2>
        </div>
        <div class="col-md-6 text-end">
            <a class="btn btn-outline-success" asp-controller="Category" asp-action="Create">
                <i class="bi bi-plus-square"></i>  New Category
            </a>
        </div>
        </div>
    </div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Display Order</th>
            <th scope="col" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>

        @{
            var stt = 1;
        }

            @foreach (var c in Model.OrderByDescending(u => u.DisplayOrder))
            {
                <tr>
                    <th scope="row">@stt</th>
                    <td>@c.Name</td>
                    <td>@c.DisplayOrder</td>
                    <td class="text-center">
                        <div class="w-75 btn-group " role="group">
                                <a class="btn btn-dark" asp-controller="Category" asp-action="Edit" asp-route-id="@c.Id">
                                <i class="bi bi-pencil-square"></i> Edit
                                </a>
                            <a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@c.Id">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
                stt++;
            }
        
    </tbody>
</table>
